.home {
    width: 100%;
    height: 72vh;
    /* height: 500px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("https://i.ibb.co/LrFYjCC/bnr3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 640px) {
    .home {
        width: 100%;
        height: 160px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("https://i.ibb.co/LrFYjCC/bnr3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}